<!-- components/header.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">PureMeal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cennik.html">Cennik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dopasowanie.html">Dopasowanie diety</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dostawa.html">Strefy dostaw</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>